<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ui.GameApplication"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="fullSensor"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LevelActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.SubLevelActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".ui.GameActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>